<footer class="p--2 text--small">
  <div>
    <b>EXHIBITIONS & EVENTS:</b><br><br>
    MMMRecords Exhibition | Seoul | 2021<br>
    Hannam Art Gallery | Seoul | 2020<br>
    Yelsultong Art Festival | Seoul | 2019<br>
    Yongsan-Gu Intl Artists Exhibition | Seoul | 2019<br>
    Nike Festival | Seoul | 2019<br>
    Starbucks Festival | Seoul | 2019<br>
    All Saints | Seoul | 2019<br>
    NIKE AIRMAX | Seoul | 2018<br>
    Yongsan-Gu Intl Artists Exhibition | Seoul | 2018<br>
    SALT Exhibition | Seoul | 2018<br>
    Hoban Gallery Exhibition | Daegu | 2017<br>
    Decked Out Exhibition | Seoul | 2016<br>
    Matter Art Market | Seoul | 2016<br>
    House Of VANS | Seoul | 2016<br>
    Dongdaemon Design Plaza | Seoul | 2015<br>
    Daegu Art Festival | Daegu | 2015<br>
    Korea National Gallery Exhibition | Seoul | 2014<br>
    VANS Off The Wall | Seoul | 2014<br>
    House Of VANS | Seoul | 2014<br>
    Dongdaemon Design Plaza | Seoul | 2014<br>
    Dongdaemon Design Plaza Exhibition | Seoul | 2014<br>
    Seoul Fashion Week | Seoul | 2014<br>
    Daegu Ar Festival | Daegu | 2014<br>
    Esher Fine Art Gallery Exhibition | London | 2013<br>
    Art Exhibition | New Zealand | 2012<br>
    Esher Fine Art Gallery Exhibition | London | 2010<br>
    Newtown Art Markets | Sydney | 2009 - 2013<br>
    Artists Open Houses | Brighton | 2007
  </div><BR>
	<div class="grid grid--footer">

    <div class="grid__item">
      <span>&copy; {{ settings.metadata.site_title or "Site Title" }}</span>
    </div>

    {% if settings.metadata.site_email %}
      <div class="grid__item">
        <span>
          <a href="mailto:{{ settings.metadata.site_email }}">{{ settings.metadata.site_email }}</a>
        </span>
      </div>
    {% endif %}

    {% if settings.metadata.site_social_url %}
      <div class="grid__item">
          <a href="{{ settings.metadata.site_social_url }}" target="_blank" rel="noopener">{{ settings.i18n.site_social_title }}</a>
        </span>
      </div>
    {% endif %}

    {% if settings.metadata.site_social_url %}
      <div class="grid__item">
          <a href="https://www.facebook.com/mmint.art/" target="_blank" >FACEBOOK</a>
        </span>
      </div>
    {% endif %}    

  </div>

</footer>
