<header class="p--2">

	<div class="grid grid--header">

		<a href="{{ '/' | url }}" class="grid__item link-nocolor">
      {# SEO: home page header title should be inside a h1 tag #}
      {% if page.url == "/" %}
				<h1>{{ settings.metadata.site_title }}</h1>
      {% else %}
        <span>{{ settings.metadata.site_title }}</span>
      {% endif %}
		</a>

		{% if settings.metadata.site_subtitle_1 %}
			<span class="grid__item">{{ settings.metadata.site_subtitle_1 }}</span>
		{% endif %}

		{% if settings.metadata.site_subtitle_2 %}
			<span class="grid__item">{{ settings.metadata.site_subtitle_2 }}</span>
		{% endif %}

		{% if settings.theme.theme_features.enable_dark_mode %}

		{% endif %}

		<meta name="p:domain_verify" content="aba207fe0f055d3143aa6dab5da33099"/>

	</div>
	