<header class="p--2">
	<script>function loadScript(a){var b=document.getElementsByTagName("head")[0],c=document.createElement("script");c.type="text/javascript",c.src="https://tracker.metricool.com/resources/be.js",c.onreadystatechange=a,c.onload=a,b.appendChild(c)}loadScript(function(){beTracker.t({hash:"d21725fc5254cfdcf801330d12319787"})});</script>

	<div class="grid grid--header">

		<a href="{{ '/' | url }}" class="grid__item link-nocolor">
      {# SEO: home page header title should be inside a h1 tag #}
      {% if page.url == "/" %}
				<h1>{{ settings.metadata.site_title }}</h1>
      {% else %}
        <span>{{ settings.metadata.site_title }}</span>
      {% endif %}
		</a>

		{% if settings.metadata.site_subtitle_1 %}
			<span class="grid__item"><a href="https://www.instagram.com/mmint.uk" target="_blank">INSTAGRAM</a></span>
		{% endif %}

		{% if settings.metadata.site_subtitle_2 %}
			<span class="grid__item">{{ settings.metadata.site_subtitle_2 }}</span>
		{% endif %}

		{% if settings.theme.theme_features.enable_dark_mode %}

		{% endif %}

	</div>
	