<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="{{ settings.i18n.site_language or "en" }}">

	{% include "components/head.njk" %}

	<body class="grid grid--body">

		{% include "components/header.njk" %}

		<main class="p--2 pb--8">
			{# The main page/template content #}
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

		{# Minify and output the core site JS #}
		{% set js %}
    	{% include "assets/js/global.js" %}
			{% if settings.theme.theme_features.enable_dark_mode %}
				{% include "assets/js/dark_mode.js" %}
			{% endif %}
			{% include "assets/js/cart.js" %}
			{% include "assets/js/stripe.js" %}
			{% include "assets/js/product-variants.js" %}
			{% include "assets/js/shop-filter.js" %}
			{% include "assets/js/sticky-product.js" %}
			{% include "assets/js/project-videos.js" %}
			{% include "assets/js/video-thumbnails.js" %}
			{% include "assets/js/product-gallery.js" %}
  	{% endset %}
 		<script>{{ js | jsmin | safe }}</script>

		{# Fallback for image visibility when JS is unavailable #}
		<noscript>
			<style>img { opacity: 1; }</style>
		</noscript>

		{# Analytics script #}
		{% if settings.metadata.site_ga4_id %}
			{% include "components/analytics.njk" %}
		{% endif %}

		{# Metricool tracking script #}
		<script>function loadScript(a){var b=document.getElementsByTagName("head")[0],c=document.createElement("script");c.type="text/javascript",c.src="https://tracker.metricool.com/resources/be.js",c.onreadystatechange=a,c.onload=a,b.appendChild(c)}loadScript(function(){beTracker.t({hash:"9f6df09b63d71a17f921dde71cac183"})});</script>

	</body>

</html>