---
layout: layouts/base.njk
permalink: "project/{{ title | slug }}/index.html"
section: project
---
<main class="page project-page">
  <div class="product-container">
    <div class="product-images-column">
      <div class="product-images">
        {# Display images first #}
        {% if images %}
          {% for image in images %}
            {# Make an array of the enabled image formats from settings.yaml #}
            {% set outputFormats = [] %}
            {% for format, i in settings.images %}
              {% if i.enabled === true %}
                {{ '' if outputFormats.push(format) }}
              {% endif %}
            {% endfor %}

            {# Create an object for our main project image parameters #}
            {% set params = 
              {
                "src": image.src,
                "alt": image.caption or title,
                "classes": "product-image-large",
                "loadingType": "eager" if loop.first else "lazy",
                "viewportSizes": "(min-width: 1140px) 70vw, (min-width: 540px) 90vw, 100vw",
                "outputWidths": [ 
                  settings.config.image_width_sm,
                  settings.config.image_width_md,
                  settings.config.image_width_lg
                ],
                "outputFormats": outputFormats,
                "outputQualityJpeg": settings.images.jpeg.quality,
                "outputQualityWebp": settings.images.webp.quality,
                "outputQualityAvif": settings.images.avif.quality
              }
            %}

            {# The image shortcode #}
            {% generateImage params %}
          {% endfor %}
        {% endif %}

        {# Videos will be moved here by JavaScript #}
        <div id="project-videos-container"></div>
      </div>
    </div>

    <div class="product-content-column">
      <div class="product-content-sticky">
        <div class="product-header">
          <h1>{{ title }}</h1>
          {% if year and settings.theme.theme_features.show_project_year %}
            <p class="project-year">{{ year }}</p>
          {% endif %}
        </div>

        {% if description %}
          <div class="product-description">
            {{ description | renderUsingMarkdown | safe }}
          </div>
        {% endif %}

        {% if layoutContent %}
          <div class="product-additional-info">
            {{ layoutContent | safe }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="product-nav">
    <!-- Spacing before project suggestions -->
  </div>
</main>

{# Output a list of random projects, excluding the current project, default limit of 48 #}
{% set projectList = collections.projects | randomLimit((settings.theme.theme_features.item_output_limit or 48), page.url) %}
{% include "components/projectList.njk" %}

{# Appended to <head> during build #}
{% include "components/opengraph.njk" %}